/* Animation */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.gallery-main-container {
    
    .gallery-item.loading {
        border-radius: 10px;

        position: relative;

        cursor: not-allowed;
        user-select: none;

        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            min-height: 100%;

            min-height: 250px;
            max-height: 250px;

            border-radius: 10px;

            background: linear-gradient(90deg,
                    #e0e0e0 25%,
                    #f0f0f0 50%,
                    #e0e0e0 75%);
            background-size: 200% 100%;
            animation: shimmer 2.2s infinite;

            opacity: .95;

        }

        @keyframes skeleton-loading {
            0% {
                background-position: 200% 0;
            }

            100% {
                background-position: -200% 0;
            }
        }

    }
}