@forward './dropZone';
@forward './modal';
@forward './paginationLinks';
@forward './imgPreview';

@forward './cards';

@forward './_noResultsFound';

@use "../variables" as *;

.d-none {
  display: none;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
body.swal2-shown {
  overflow: auto !important;
  padding-right: 0 !important;
}

.gallery-main-container {
  // padding: 1rem .5rem;
  padding: 2rem 1rem;
  background-color: #f9f9f9;

  // max-width: 1180px;
  max-width: 1208px;
  margin: auto;

  // min-height: 500px;

  // box-shadow: 0 0 47px rgb(0 0 0 / 15%);
  box-shadow: 0 0 47px rgb(0 0 0 / 9%);

  .image-upload-form,
  form[data-js="main-search-inputs-form"],
  [data-js="gallery-container"] {
    max-width: 1115px;
    margin: auto;
  }

  // Form styles
  form[data-js="main-search-inputs-form"] {

    margin-bottom: .5rem;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 0;
    }

    input[type="hidden"] {
      display: none;
    }
  }

  .search-type-container {
    position: relative;

    label {
      cursor: pointer;

      position: absolute;

      top: 50%;
      transform: translate(0, -50%);
      color: #7a7a7a;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      transition: opacity .2s;

      width: 100%;

      height: 0;

      svg {
        height: 15px;
        width: 15px;
        margin-right: .2rem;
        margin-top: .15rem;

        path {
          stroke: #7a7a7a;
        }
      }
    }

    &:has(input:not(:placeholder-shown)),
    &:has(input:target),
    &:has(input:focus) {
      &>label {
        opacity: 0;
      }
    }

    .input-line {
      min-height: 2px;
      padding: 0;

      color: inherit;
      display: flex;

      padding-top: 4px;

      flex: 1 0 100%;
      font-size: 12px;

      overflow: hidden;
      position: relative;
      width: 100%;

      &::after {
        content: "";
        // background-color: #007bff;
        background-color: $primary;
        color: inherit;
        top: 0;
        height: 2px;

        transform: scaleX(0);

        transform-origin: center center 0;
        width: 100%;
        z-index: 1;

        position: absolute;
        left: 0;
        transition: .3s cubic-bezier(.4, 0, .2, 1);
      }
    }

    .input-container {
      input {
        position: relative;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;

        background-color: transparent;
        border-style: none;

        &::placeholder {
          opacity: 0;
        }

        &:target,
        &:focus {

          outline: none;

          &+label {
            opacity: 0;
          }

          &+.input-line {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }

    }

  }

  // Gallery Items
  [data-js="gallery-container"] {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

    gap: 1rem;

    .gallery-item {

      &.removed-item {
        position: relative;
        opacity: .8;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          cursor: not-allowed;
          width: 100%;
          height: 100%;
          background-color: #ffffffad;
          z-index: 1;
        }

        &::after {
          content: '';
          position: absolute;
          cursor: not-allowed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;

          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path fill='red' d='M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z'/></svg>");

          background-repeat: no-repeat;
          background-position: center;
          background-size: 27% 40%;

        }

      }

      margin: auto;

      background-color: #fff;
      border: 2px solid #ddd;
      // border: 2px solid transparent;

      // border-radius: 4px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      width: calc(33.333% - 20px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;

      flex-basis: fit-content;

      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      // min-height: 250px;
      // max-height: 250px;
      min-height: 200px;
      max-height: 200px;

      min-width: 100%;

      @media (min-width: 380px) {
        min-height: 230px;
        max-height: 230px;
      }

      @media (min-width: 700px) {
        min-height: 210px;
        max-height: 210px;
      }

      // margin-bottom: 2rem;

      .image-wrapper {
        height: 100%;
        width: 100%;
      }

      .gallery-image {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;

        min-height: inherit;
        // max-height: 250px;
        max-height: inherit;

        // max-width: 280px;
        max-width: inherit;
      }

      &:has(.selected) {
        // border-color: #007bff;
        border-color: $primary;
      }

      .gallery-actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
          background: transparent;
          border: 1px solid #fff;
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.3s ease, color 0.3s ease;

          &:hover {
            background: #fff;
            color: #333;
          }
        }
      }

      &.dummy {
        position: absolute;
        z-index: -9;
        user-select: none;
      }

      @media (min-width: 500px) {
        max-width: 48%;
        min-width: 46%;
      }

      // @media (min-width: 700px)
      @media (min-width: 700px) {

        margin: 0;

        // margin: 0 .75rem 0;

        // margin-bottom: 2rem;
        // margin-bottom: 1rem;

        // min-width: 266px;
        // max-width: 266px;

        min-width: 31%;
        max-width: 31%;
      }

      @media (min-width: 1100px) {
        min-width: 23.9%;
        max-width: 23.9%;

        &.dummy {
          position: relative;
          z-index: 1;
          user-select: inherit;
        }
      }

    }


    @media (min-width: 700px) {
      justify-content: center;
    }
  }

  @media (min-width: 700px) {
    // padding: 1rem;
    background-color: #f9f9f9;
  }

}