@use "../variables" as *;

.page-header {
    background: linear-gradient(to right, $primary 0%, $primary 35% 100%);

    .session-controls-container {
        svg {
            width: 100%;
            max-width: 20px;

            path {
                stroke: #fff;
            }
        }

        .auth-username {
            svg {
                margin: 0 .55rem .2rem;

                position: relative;
                top: .29rem;
                left: .15rem;
            }
        }
    }

}